apps/jacob.missioncontrol/documents/CTI/daksCTI_test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Mike Döring (test) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Nihat Kuecuek (private) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="modus">
		<xs:choice>
			<xs:element name="modus" type="modus_inbound"/>
			<xs:element name="modus1" type="modus_outbound"/>
		</xs:choice>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="outbound"/>
					<xs:enumeration value="inbound"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="datasection">
		<xs:sequence>
			<xs:element name="SP_RET_CODE" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="outbound"/>
					<xs:enumeration value="inbound"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="errorsection">
		<xs:sequence>
			<xs:element name="ERROR_TEXT" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="datasections">
		<xs:choice>
			<xs:element name="datasection">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="datasection_inbound"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="datasection1" type="datasection_outbound"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="datasection_outbound">
		<xs:sequence>
			<xs:element name="SP_RET_CODE" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="required" fixed="outbound"/>
	</xs:complexType>
	<xs:complexType name="datasection_inbound">
		<xs:sequence>
			<xs:element name="SWITCH" type="xs:string">
				<xs:annotation>
					<xs:documentation>Telefonanlage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EXTENSION" type="xs:string">
				<xs:annotation>
					<xs:documentation>Telefonnummer des gemonitorten Apparates</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STATUS">
				<xs:annotation>
					<xs:documentation>Status des Gerätes:0 (invalid) Device nicht monitorbar 1 (nocall) 2 (inbound) 3 (outbound</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CREATE_DATE" type="xs:string">
				<xs:annotation>
					<xs:documentation>Datum-Zeitstempel wann Call erzeugt wurde Null bei Invalid oder NoCall</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OTHERPARTY" type="xs:string">
				<xs:annotation>
					<xs:documentation>Telefonnummer der Gegenseite Bei Inbound: Calling Number (Anrufer) Bei Outbound: Called Number (gewählte Nummer)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CONNECTED_DATE" type="xs:string">
				<xs:annotation>
					<xs:documentation>Datum-Zeitstempel wenn Gespräch hergestellt Bei Inbound: Agent nimmt Anruf entgegen Bei Outbound: Angerufene Gegenstelle nimmt ab</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" fixed="inbound"/>
	</xs:complexType>
	<xs:complexType name="modus_outbound">
		<xs:sequence>
			<xs:element name="datasection" type="datasection_outbound"/>
			<xs:element name="errorsection" type="errorsection"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="required" fixed="outbound"/>
	</xs:complexType>
	<xs:complexType name="modus_inbound">
		<xs:sequence>
			<xs:element name="datasection" type="datasection_inbound"/>
			<xs:element name="errorsection" type="errorsection"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="required" fixed="inbound"/>
	</xs:complexType>
</xs:schema>
