apps/jacob.missioncontrol/documents/CTI/inbound.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Nihat Kuecuek (private) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CONNECTED_DATE" type="xs:boolean"/>
	<xs:element name="CREATE_DATE" type="xs:boolean"/>
	<xs:element name="ERROR_TEXT" type="xs:string"/>
	<xs:element name="EXTENSION" type="xs:short"/>
	<xs:element name="OTHERPARTY" type="xs:boolean"/>
	<xs:element name="STATUS" type="xs:boolean"/>
	<xs:element name="SWITCH" type="xs:string"/>
	<xs:element name="datasection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SWITCH"/>
				<xs:element ref="EXTENSION"/>
				<xs:element ref="STATUS"/>
				<xs:element ref="CREATE_DATE"/>
				<xs:element ref="OTHERPARTY"/>
				<xs:element ref="CONNECTED_DATE"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="errorsection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ERROR_TEXT"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="modus">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="datasection"/>
				<xs:element ref="errorsection"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
