apps/jacob.missioncontrol/castor/daksCTI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Mike Döring (test) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Nihat Kuecuek (private) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="modus">
		<xs:all>
			<xs:element name="errorsection" type="errorsection"/>
			<xs:element name="datasection" type="datasection"/>
		</xs:all>
		<xs:attribute name="type" use="required" fixed="outbound">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="outbound"/>
					<xs:enumeration value="inbound"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="datasection">
		<xs:sequence>
			<xs:element name="SP_RET_CODE" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="type" use="required" fixed="outbound">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="outbound"/>
					<xs:enumeration value="inbound"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="errorsection">
		<xs:sequence>
			<xs:element name="ERROR_TEXT" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="modus" type="modus"/>
</xs:schema>
